# environment files
.env
.venv/*

# data
/data/*
data-unversioned

# logs
/logs/*
runs

# models
/models/*.pt
/doc/models/model*/*.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class